.food-item-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.food-item-container > article {
  border: 0.5vmin dashed rgb(226, 219, 233);
  padding: 2vmin;
  border-radius: 0.5vmin;
  color: #fffcfc;
}

.food-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.page-title {
  font-size: 2rem;
  color: #f3f6f9;
  margin-bottom: 20px;
  text-align: center;
}
