.NavBar {
 display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000; 
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.NavBar {
  a {
  color: #fff; /* White text */
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  }

  a:hover {
    background-color: #1a1a1a;
    color: whitesmoke;
  }

  a.active {
    background-color: rgb(83, 38, 128);
    color: whitesmoke;
  }

  span {
    color: rgb(168, 98, 98);
  }
}